<!DOCTYPE html>
<html>
  <head>
    <title>ChallecaraApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  <%=link_to("HOME","/home/top")%>
  
  <% if current_user %> <%# 追加しました %>
    <%=link_to("マイページ", user_path(current_user))%>
  <% else %>
    <%=link_to("マイページ", "/home/top") %>
  <% end %>

  <%=link_to("教科一覧", "/subjects")%>
  
  </header>
  <body>
    <%= yield %>
  </body>
</html>
